@font-face {
  font-family: 'intuitive';
  src: url('/theme/font/intuitive.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'beer money';
  src: url('/theme/font/beermoney.woff2') format('woff2'),
  url('/theme/font/beermoney.woff') format('woff'),
  url('/theme/font/beermoney.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --white: white;
  --black: black;
  --red: #DD000B;
  --blue: #135DAD;
  --green: #00A75F;
}


body{
  background-color: white;
  background-color: var(--white);
  font-family: "beer money";
  font-weight: normal;
  font-style: normal;
  font-size: 140%;
}
::selection{
  background: grey;
}
p{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}





/*util for pictures and stuff*/
.inline-block{
  display: inline-block;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

/* LINKS ----------------------------- */
.main-content a{
  text-decoration: none;
  color: var(--black);
  transition: color 0.3s, background-color 0.5s;
}
.main-content a:hover{
  color: var(--white);
  background-color: var(--black);
}
.main-content a::before{
  content: "{";
  color: var(--red);
}
.main-content a::after{
  content: "}";
  color: var(--red);
}

/* Footnote links */
.main-content a[class*='footnote']::after{  content: ""; }
.main-content a[class*='footnote']::before{ content: ""; }
.main-content a[class*='footnote']{
  color: var(--red);
  margin: 2px;
  margin-left: 0.5ex;
  margin-right: 0.5ex;
  background-color: none;
}
.main-content a.footnote-ref:before{
  content: "*";
}
.main-content a[class*='footnote']:hover{
  background-color: var(--black);
}

/* Figures */
.main-content figure>a::before{ content: ""; }
.main-content figure>a::after { content: ""; }
.main-content figure>a:hover{
  background-color: transparent;
  transition: none;
}

/* Footer article */
footer.post-info{
  text-transform: uppercase;
  font-size: 70%;
  margin-bottom: 4ex;
}
#post-list footer.post-info{
  margin-bottom: 1ex;
}

/* Footer absolute */
footer#contentinfo{
  text-transform: uppercase;
  text-align: center;
  font-size: 80%;
}
footer#contentinfo p{
  margin: 0;
}
.logo svg{
  height: 2.5em;
  width: auto;
}


/* Hand drawn horizontal rule */
footer#contentinfo hr {
  border: none;
  width: 120px;
  height: 30px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  background: url(/theme/img/hr.svg);
  background-size: 120px 30px;
  background-color: transparent;
}

hr{
  border: none;
  width: 60px;
  height: 20px;
  background: url(/theme/img/hr_small.svg);
  background-size: 60px 20px;
}

/* Main content */
.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
}

/* Content container*/
.main-content{
  font-family: intuitive;
  line-height: 1.4;
  min-width: 500px;
  max-width: 72.5vw;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: min-content;
  margin-left: 3em;
  margin-right: 3em;
  min-height: 400px;
}
@media screen and (max-width: 600px){
  .main-content{
    margin-left: 1em;
    margin-right: 1em;
    min-width: 300px;
  }
}

h1{
  font-size: 200%;
  font-family: "beer money";
  font-weight: normal;
  text-transform: uppercase;
}
h2,h3,h4,h5,h6{
  font-weight: normal;
  font-family: "beer money";
  font-weight: normal;
  text-transform: uppercase;
}
.entry-title{
  margin-bottom: 0;
}

/* Menu */
.main-menu{
  text-transform: uppercase;
  z-index:      10;
  width:     280px;
  max-width: 280px;
  min-width: 280px;
  font-size:  30px;
  line-height: 1.5;
  padding:       0;
  margin-bottom: 20px;
  margin-top:    20px;
}
.main-menu a{
  text-decoration:none;
  color: black;
}
.button{
  overflow: hidden;
  text-transform: uppercase;
  background-color: white;
  padding-top:    8px;
  padding-bottom: 8px;
  padding-left:   4em;
  padding-right:  1em;
  margin-bottom:  -1px;

  width: min-content;

  border: 2px solid black;
  border-left: 0px;

  /* From:
  https://gist.github.com/CodeMyUI/ad83c95b19d9ba3f8298cad1e7206d45#file-style-scss-L41
   */
  border-top-left-radius: 0;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 0;

  transition: padding-left 0.2s;
}

/* CRAZY MENU */
.button:hover{
  padding-left: 6em;
}
.main-menu a div.button{
  transform: rotate(1deg) translateX(-13px);
  z-index: 14;
  margin-top: 2px;
}
.main-menu a:nth-of-type(2n) div.button{
  transform: rotate(6deg) translateX(-20px);
  margin-top: -3px;
  z-index: 10;
}
.main-menu a:nth-of-type(5n) div.button{
  transform: rotate(-3deg) translateX(-25px);
  z-index: 10;
  margin-bottom: 3px;
}
.main-menu a:nth-of-type(3n-1) div.button{
  margin-top: -2px;
  transform: rotate(-2deg) translateX(-16px);
  z-index: 8;
  margin-bottom: -1px;
}
.main-menu a:nth-of-type(7n-2) div.button{
  margin-top: -2px;
  transform: rotate(3deg) translateX(-16px);
  z-index: 12;
  margin-bottom: -1px;
}
.main-menu a:nth-of-type(8n-6) div.button{
  transform: rotate(-1deg) translateX(-10px);
  z-index: 12;
}
.main-menu a:nth-of-type(4n) div.button{
  transform: rotate(-4deg) translateX(-18px);
  margin-top: -3px;
  z-index: 9;
}

/* Activity marker in menu */
.button.active{
  padding-left: 6em;
}
.button.active span{
  position: relative;
}
.button.active span::after{
  content: ">";
  margin-left: 1ex;
  margin-right: -3ex;
  color: var(--red);
}


/* PICTURES drawn in the paper*/
/* Any picture, any svg that is not in a figure works like that, maybe it's
 * good to let it work also with captions
 */



/* PICTURES attached*/

/* Tape */
figure::before{
  content: "";
  border: 2px solid black;
  display: inline-block;
  width: 30px;
  height: 40px;
  border-top-left-radius: 50px 5px;
  border-top-right-radius: 5px 45px;
  border-bottom-right-radius: 35px 5px;
  border-bottom-left-radius: 15px 25px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: calc(50% - 15px);
  background-color: white;
  z-index: 5;
}
figure{
  border: 2px solid black;
  position: relative;
  border-top-left-radius: 825px 20px;
  border-top-right-radius: 20px 825px;
  border-bottom-right-radius: 825px 20px;
  border-bottom-left-radius: 20px 825px;
  display: inline-block;
  z-index: 2;
  background-color: white;
}
figure:hover{
    z-index: 100;
}

figure figcaption{
    text-align: center;
    margin-bottom: 15px;
}
figure img{
    filter: grayscale(90%) sepia(25%) contrast(280%) brightness(150%);
    width: calc(100% - 30px);
    margin: 15px;
    transition: 0.5s filter;

  border-top-left-radius: 825px 20px;
  border-top-right-radius: 20px 825px;
  border-bottom-right-radius: 825px 20px;
  border-bottom-left-radius: 20px 825px;
}
figure img:hover{
    filter: none;
}

/* Different sizes*/
figure.large{
    width: 600px;
}
figure.small{
    width: 300px;
}
figure.thumbnail{
    width: 180px;
}

/*Inclined*/
figure.l{
    transform: rotate(-3deg);
}
figure.l::before{
    transform: rotate(15deg);
}
figure.r{
    transform: rotate(4deg);
}
figure.r::before{
    transform: rotate(-5deg);
}



/* POST LIST */
#post-list li::marker{
  font-family: "beer money";
  font-size: 33.6px; /* Same size as the h2 they will have*/
}


/* Footnotes */
div.footnote{
  font-size: 80%;
}
div.footnote > ol > li::marker{
  color: var(--red);
}
